.messageContainer{
    display: flex;
    justify-content: flex-end;
    padding: 0 5%;
    margin-top: 3px;
}
.justifyEnd{
    justify-content: flex-end;
}
.sentText{
    display: flex;
    align-items: center;
    font-family: Helvetica;
    color: #828282;
    letter-spacing: 0.3px;
}
.messageBox{
    background: #F3F3F3;
    border-radius: 20px;
    padding: 5px 20px;
    color: white;
    display: inline-block;
    max-width: 80%;
}
.messageText{
    width: 100%;
    letter-spacing: 0;
    float: left;
    font-size: 1.1em;
    word-wrap: break-word;
}
.pr-10{
    padding-right: 10px;
}
.backgroundBlue{
    background: #2979FF;
}
.colorWhite{

}
.justifyStart{
    justify-content: flex-start;
}
.backgroundLight{
    background: #F3F3F3;
}
.colorDark{
    color: #353535;
}
.pl-10{
    padding-left: 10px;
}